<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Hộp bánh Baker Lucky</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
  <meta name="theme-color" content="#0099ff" />
  <meta http-equiv="Content-Language" content="VN" />
  <meta name="description" content="Hoàng Long" />
  <meta name="keywords" content="" />
  <meta property="og:url" name="og:url" content="" data-app />
  <meta property="og:type" name="og:type" content="website" data-app />
  <meta property="og:description" name="og:description" content="Hoàng Long" data-app />
  <meta property="og:title" name="og:title" content="Hoàng Long" data-app />
  <meta property="og:image" name="og:image" content="http://tonvietphap.24h.co/uploaded/logo/logo.png" data-app />

  <link href="/favicon.png" rel="shortcut icon" />

  <link rel="stylesheet" type="text/css" href="/css/style.css?t=2" />
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/grid.css" />
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
  <link rel="stylesheet" type="text/css" href="/css/swiper.css" />

  <link rel="stylesheet" type="text/css" href="/css/font.css" />
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
  <link rel="stylesheet" href="/css/jquery-ui.css" />
  <script src="/js/jquery-1.10.1.min.js"></script>
  <script src="/js/swiper.min.js"></script>

  <script src="/js/script.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>
</head>

<body>

  <!-- header pc -->
  <section class="header">

    <a href="#" class="logo"><img src="/images/logo.PNG" alt=""></a>

    <nav class="navbar">
      <a href="#home" style="color: #a17736;">Trang chủ</a>
      <a href="#about">Lucky baker</a>
      <a href="#product">Sản phẩm</a>
      <a href="#info">Thông tin</a>
      <a href="#collection">Bộ sưu tập</a>
      <a href="#contact">Liên hệ</a>
    </nav>
    <div class="icon-phone-search">
      <a href="#" class="shopping-cart">
        <i class="fas fa-shopping-cart"></i>
      </a>
      <a href="#" class="phone"><i class="fas fa-phone-alt"></i> 0983 868 514</a>
      <a href="#" class="search"><i class="fas fa-search"></i></a>
    </div>
    <div id="menu-btn" class="fas fa-bars"></div>
  </section>
  <!-- end header pc -->

  <!-- trang chủ section start -->

  <section id="home" class="home">

    <div class="slide" style="background: url(/uploaded/slide_baker.jpg) no-repeat;">
      <div class="content">
        <h3>Lorem ipsum dolor sit amet.</h3>
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis obcaecati laboriosam consequuntur
          accusantium dolorem et quidem necessitatibus aliquam dolorum enim!</span>
        <div class="c30"></div>
        <div class="home-button">
          <a href="#" class="btn">Xem chi tiết ></a>
        </div>
      </div>
    </div>

  </section>
    <!-- trang chủ section ends -->

  <!-- about section start  -->

  <section id="about" class="about">
    <div class="vote">
      <div class="box">
        <div class="icon">
          <i class="fas fa-thumbs-up"></i>
        </div>
        <div class="content">
          <h3>Chất lượng</h3>
          <span>Sản xuất trực tiếp theo tiêu chuẩn ISO 22000</span>
        </div>
      </div>

      <div class="box">
        <div class="icon">
          <i class="fal fa-usd-circle"  >$</i>
        </div>
        <div class="content">
          <h3>Giá ưu đãi</h3>
          <span>Sản xuất trực tiếp theo tiêu chuẩn ISO 22000</span>
        </div>
      </div>

      <div class="box">
        <div class="icon">
          <i class="fas fa-check-circle"></i>
        </div>
        <div class="content">
          <h3>Dịch vụ đi đầu</h3>
          <span>Tư vấn chuẩn, giao hàng nhanh, xử lí kịp thời</span>
        </div>
      </div>
    </div>

    <div class="c30"></div>
    <div class="c30"></div>
    <div class="product-main">
      <div class="heading">
        <h3>Dòng sản phẩm cốt lõi</h3>
        <span>Ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, animi.</span>
      </div>
      <div class="c30"></div>
      <div class="swiper about-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide slide">
            <div class="image" style="background: url(/uploaded/about-1.PNG) no-repeat;">
              <span>Túi đựng bánh</span>
            </div>
          </div>

          <div class="swiper-slide slide">
            <div class="image" style="background: url(/uploaded/about-2.PNG) no-repeat;">
              <span>Túi đựng bánh</span>
            </div>
          </div>

          <div class="swiper-slide slide">
            <div class="image" style="background: url(/uploaded/about-3.PNG) no-repeat;">
              <span>Túi đựng bánh</span>
            </div>
          </div>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>

    <div class="c50"></div>
    <div class="lucky-baker">
      <div class="content">
        <h1>Lucky baker</h1>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab facilis libero maiores minima voluptatibus dolorem molestiae mollitia, nam in aspernatur?</h3>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil necessitatibus blanditiis illo est dolores vero perferendis repudiandae praesentium ducimus alias ullam officia atque quas recusandae amet at, sint ut perspiciatis tempore quos voluptas. Aperiam, fugit accusantium necessitatibus animi odit error ipsa vel cumque eum nisi in, sapiente iure consectetur natus culpa nemo est ex nam laborum, libero suscipit voluptatum ad! Magni ab adipisci, corporis nesciunt odio maiores deserunt fugit rerum alias ut aut iste autem quas ipsam quia voluptate eligendi dolor natus repellendus, illum praesentium obcaecati sint. Deserunt provident, fugit consequatur, cupiditate possimus, quisquam eum veritatis ut similique quae dicta?</span>
      </div>
      <div class="video">
        <iframe width="560" height="370" src="https://www.youtube.com/embed/4b0EuqTph8w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="c50"></div>
    <div class="c30"></div>
  </section>

  <!-- about section end -->

<!-- product section start -->

<section id="product" class="product">
  <div class="heading">
    <h3>Sản phẩm nổi bật</h3>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, sapiente!</span>
  </div>
  <div class="c30"></div>
  <div class="product-container">
    <div class="box">
        <img src="/uploaded/to-ba-mia-850ml-QP-MB-8501.jpg" alt="">
      <div class="content">
        <h3>Tên sản phẩm</h3>
        <span>Mã SP:abc</span>
      </div>
      <div class="price">
        <p>3.000 VNĐ</p>
        <span>3.000 VNĐ</span>
      </div>
    </div>

    <div class="box">
      <img src="/uploaded/to-ba-mia-850ml-QP-MB-8501.jpg" alt="">
    <div class="content">
      <h3>Tên sản phẩm</h3>
      <span>Mã SP:abc</span>
    </div>
    <div class="price">
      <p>3.000 VNĐ</p>
      <span>3.000 VNĐ</span>
    </div>
  </div>

  <div class="box">
    <img src="/uploaded/to-ba-mia-850ml-QP-MB-8501.jpg" alt="">
  <div class="content">
    <h3>Tên sản phẩm</h3>
    <span>Mã SP:abc</span>
  </div>
  <div class="price">
    <p>3.000 VNĐ</p>
    <span>3.000 VNĐ</span>
  </div>
</div>

<div class="box">
  <img src="/uploaded/to-ba-mia-850ml-QP-MB-8501.jpg" alt="">
<div class="content">
  <h3>Tên sản phẩm</h3>
  <span>Mã SP:abc</span>
</div>
<div class="price">
  <p>3.000 VNĐ</p>
  <span>3.000 VNĐ</span>
</div>
</div>

<div class="box">
  <img src="/uploaded/to-ba-mia-850ml-QP-MB-8501.jpg" alt="">
<div class="content">
  <h3>Tên sản phẩm</h3>
  <span>Mã SP:abc</span>
</div>
<div class="price">
  <p>3.000 VNĐ</p>
  <span>3.000 VNĐ</span>
</div>
</div>

<div class="box">
  <img src="/uploaded/to-ba-mia-850ml-QP-MB-8501.jpg" alt="">
<div class="content">
  <h3>Tên sản phẩm</h3>
  <span>Mã SP:abc</span>
</div>
<div class="price">
  <p>3.000 VNĐ</p>
  <span>3.000 VNĐ</span>
</div>
</div>

<div class="box">
  <img src="/uploaded/to-ba-mia-850ml-QP-MB-8501.jpg" alt="">
<div class="content">
  <h3>Tên sản phẩm</h3>
  <span>Mã SP:abc</span>
</div>
<div class="price">
  <p>3.000 VNĐ</p>
  <span>3.000 VNĐ</span>
</div>
</div>

<div class="box">
  <img src="/uploaded/to-ba-mia-850ml-QP-MB-8501.jpg" alt="">
<div class="content">
  <h3>Tên sản phẩm</h3>
  <span>Mã SP:abc</span>
</div>
<div class="price">
  <p>3.000 VNĐ</p>
  <span>3.000 VNĐ</span>
</div>
</div>
  </div>
</section>





<!-- product section end -->




















  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <link rel="stylesheet" href="/css/jquery.fancybox.css" />
  <script src="/js/script.js"></script>
  <link rel="stylesheet" href="/css/hover.css" />






</body>

</html>