<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<title>Hoàng Long</title>
<meta name="viewport"
   content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
<meta name="theme-color" content="#0099ff" />
<meta http-equiv="Content-Language" content="VN" />
<meta name="description" content="Hoàng Long" />
<meta name="keywords" content="" />
<meta property="og:url" name="og:url" content="" data-app />
<meta property="og:type" name="og:type" content="website" data-app />
<meta property="og:description" name="og:description" content="Hoàng Long" data-app />
<meta property="og:title" name="og:title" content="Hoàng Long" data-app />
<meta property="og:image" name="og:image" content="http://tonvietphap.24h.co/uploaded/logo/logo.png" data-app />

<link href="/favicon.png" rel="shortcut icon" />

<link rel="stylesheet" type="text/css" href="/css/style.css?t=2" />

<link rel="stylesheet" type="text/css" href="/css/grid.css" />
<link rel="stylesheet" type="text/css" href="/css/responsive.css" />
<link rel="stylesheet" type="text/css" href="/css/swiper.css" />

<link rel="stylesheet" type="text/css" href="/css/font.css" />
<link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
<link rel="stylesheet" href="/css/jquery-ui.css" />
<script src="/js/jquery-1.10.1.min.js"></script>
<script src="/js/swiper.min.js"></script>

<script src="/js/script.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.form.min.js"></script>
<script src="/js/jquery.mmenu.min.all.js"></script>
</head>

<body>



<div id="page">





   <!-- header pc -->
   <header class="header hide-on-pad hide-on-tab">
   <div class="grid">

      <div class="flex-container flex-space-between">
         <div class="cell-2-12 flex_align">
         <div class="logo">
            <a href="/">
               <img src="/uploaded/logo/logo.png" alt="LogoSite"
               style="max-width:100%; margin:0 auto"></a>
         </div>
         </div>

         <div class="cell-10-12 flex_align--end">


         <div class="menubar">
            <ul class="nav  hide-on-mobile">


               <li class=" "> <a href="/" class=""><span style="background-image:url()">Trang chủ  </span></a>
               
               
               
               
                  
                  
                  
               </li>
               <li class=" "> <a href="/gioi-thieu/" class=""><span style="background-image:url()">Giới thiệu </span></a>
               
               
               
               
                  <ul class="submnu1" style="display: none;">
                     <li class=""><a href="/gioi-thieu-chung-1/">Giới thiệu chung</a>
                     </li>
                     <li class=""><a href="/chien-luoc-phat-trien/">Chiến lược phát triển</a>
                     </li>
                     <li class=""><a href="/van-hoa-doanh-nghiep/">Văn hoá doanh nghiệp</a>
                     </li>
                     <li class=""><a href="/co-cau-to-chuc/">Cơ cấu tổ chức</a>
                     </li>
                     <li class=""><a href="/ban-lanh-dao/">Ban lãnh đạo</a>
                     </li>
                  </ul>
                  
                  
                  
               </li>
               <li class=" "> <a href="/linh-vuc-hoat-dong/" class=""><span style="background-image:url()">Lĩnh vực hoạt động </span></a>
               
               
               
               
                  <ul class="submnu1" style="display: none;">
                     <li class=""><a href="/phat-trien-dien-nang/">Phát triển điện năng</a>
                     </li>
                     <li class=""><a href="/dau-tu-bat-dong-san/">Đầu tư Bất động sản</a>
                     </li>
                     <li class=""><a href="/dich-vu-khach-san/">Dịch vụ khách sạn</a>
                     </li>
                  </ul>
                  
                  
                  
               </li>
               <li class=""> <a href="/cong-ty-thanh-vien/" class=""><span style="background-image:url()">Công ty thành viên </span></a>
               
               
               
               
                  
                  
                  
               </li>
               <li class=" "> <a href="/tin-tuc-su-kien/" class=""><span style="background-image:url()">Tin tức - Sự kiện </span></a>
               
               
               
               
                  <ul class="submnu1">
                     <li class=""><a href="/tin-thi-truong/">Tin thị trường</a>
                     </li>
                     <li class=""><a href="/tin-doanh-nghiep/">Tin doanh nghiệp</a>
                     </li>
                  </ul>
                  
                  
                  
               </li>
               <li class=" "> <a href="/du-an-dau-tu/" class=""><span style="background-image:url()">Dự án </span></a>
               
               
               
               
                  <ul class="submnu1" style="display: none;">
                     <li class=""><a href="/du-an-da-thuc-hien/">Dự án đã thực hiện</a>
                     </li>
                     <li class=""><a href="/du-an-dau-tu-1/">Dự án đầu tư</a>
                     </li>
                     <li class=""><a href="/du-an-dang-thuc-hien/">Dự án đang thực hiện</a>
                     </li>
                  </ul>
                  
                  
                  
               </li>
               <li class=" "> <a href="/lien-he/" class=""><span style="background-image:url()">Liên hệ </span></a>
               
               
               
               
                  
                  
                  
               </li>
               <li class=""> <a href="/tuyen-dung-1/" class=""><span style="background-image:url()">Tuyển dụng </span></a>
               
               
               
               
                  
                  
                  
               </li>
               </ul>

            <div class="c"></div>
         </div>


         <div class="lang">
            <a href="/" class="vi">VN</a>
            <a href="/en/" class="en">EN</a>
         </div>

         </div>
      </div>
   </div>
   <div class="c"></div>
   </header>
   <!-- end header pc -->
   









   <!-- content -->
   <div class="content">
      <div class="info-wrapper">

         <div class="info-count">
            <div class="grid">
               <div class="flex-container">
                  <div class="cell-1-2 tab-cell-1-1">
                     <h2 class="info-title">
                        <a href="">Giới thiệu chung</a>
                     </h2>

                     <div class="intro-cat-page">
                        <div style="text-align: justify;"><span style="line-height:2;">&nbsp; &nbsp; &nbsp;Từ những buổi đầu hình thành và phát triển là những năm tháng Hoàng Long Group tận tâm phục vụ khách hàng và đối tác, hướng đến sự hoàn hảo trọn vẹn trong từng dịch vụ. Để có được điều đó, không chỉ nhờ vào một Ban lãnh đạo với định hướng sáng suốt, mà hơn cả là hệ thống cán bộ công nhân viên tận tụy cống hiến. Hình ảnh chúng tôi luôn hướng đến và giữ gìn là một tập thể cán bộ công nhân viên luôn dám nghĩ, dám làm, dám khao khát, không ngừng sáng tạo, không ngừng vươn xa. Mục tiên chúng tôi đặt ra là đưa Hoàng Long Group lên tầm cao mới, khẳng định vị thế của bản thân trên thị trường Việt Nam. Những gì chúng tôi đã, đang, và sẽ làm đều hướng tới một mục đích là mang lại sự hài lòng và lấy được sự tín nhiệm của các bạn – những khách hàng, đối tác đáng quý của Hoàng Long Group.&nbsp; &nbsp;</span></div>
                     </div>
                  </div>
                  <div class="cell-1-2 tab-cell-1-1">
                     <div class="img-page">
                        <a href="" class="hvr-grow">
                           <img src="/uploaded/gioi-thieu/info-1.png" alt="">
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="info-count">
            <div class="grid">
               <div class="flex-container">
                  <div class="cell-1-2 tab-cell-1-1">
                     <h2 class="info-title">
                        <a href="">Giới thiệu chung</a>
                     </h2>

                     <div class="intro-cat-page">
                        <div style="text-align: justify;"><span style="line-height:2;">&nbsp; &nbsp; &nbsp;Từ những buổi đầu hình thành và phát triển là những năm tháng Hoàng Long Group tận tâm phục vụ khách hàng và đối tác, hướng đến sự hoàn hảo trọn vẹn trong từng dịch vụ. Để có được điều đó, không chỉ nhờ vào một Ban lãnh đạo với định hướng sáng suốt, mà hơn cả là hệ thống cán bộ công nhân viên tận tụy cống hiến. Hình ảnh chúng tôi luôn hướng đến và giữ gìn là một tập thể cán bộ công nhân viên luôn dám nghĩ, dám làm, dám khao khát, không ngừng sáng tạo, không ngừng vươn xa. Mục tiên chúng tôi đặt ra là đưa Hoàng Long Group lên tầm cao mới, khẳng định vị thế của bản thân trên thị trường Việt Nam. Những gì chúng tôi đã, đang, và sẽ làm đều hướng tới một mục đích là mang lại sự hài lòng và lấy được sự tín nhiệm của các bạn – những khách hàng, đối tác đáng quý của Hoàng Long Group.&nbsp; &nbsp;</span></div>
                     </div>
                  </div>
                  <div class="cell-1-2 tab-cell-1-1">
                     <div class="img-page">
                        <a href="" class="hvr-grow">
                           <img src="/uploaded/gioi-thieu/info-1.png" alt="" width="100%">
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end content -->


   <div class="c"></div>

   <!-- footer -->
   <footer class="footer">
   <div class="footer-main">
      <div class="grid">
         <div class="flex-container">
         <div class="cell-1-5 tab-cell-1-1">
            <div class="logo-footer">
               <img src="/uploaded/logo/logo.png" alt="">
            </div>
         </div>

         <div class="cell-2-5 tab-cell-1-1">
            <div class="footer-block">
               <div class="footer-title footer-title-mobile" rel="ct">
               Thông tin liên hệ
               </div>
            </div>
         </div>

         <div class="cell-2-5 tab-cell-1-1">
            <div class="footer-block">
               <div class="footer-title footer-title-mobile" rel="ct">
               Gửi liên hệ
               </div>
               <div class="footer-intro">
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe maiores libero qui illum.
               </div>
               <form action="" method="post" class="sendmail__frm">

               <input type="text" name="newsletter" class="sendmail__input" placeholder="Nhập email của bạn">

               <button type="submit" name="addnewsletter" value="save" class="sendmail__btn">
                  <i class="fas fa-envelope"></i>
               </button>
               </form>


               <ul class="footer-social">
               <li>
                  <a href="" class="footer-social__item hvr-float">
                     <i class="fab fa-facebook-f"></i>
                  </a>
               </li>
               <li>
                  <a href="" class="footer-social__item hvr-float">
                     <i class="fab fa-twitter"></i>
                  </a>
               </li>
               <li>
                  <a href="" class="footer-social__item hvr-float">
                     <i class="fab fa-youtube"></i>
                  </a>
               </li>
               </ul>


            </div>
         </div>
         </div>
      </div>
   </div>

   <div class="footer-copyright">
      <div class="grid">
   © Copyright 2019 Hoang Long Group. All rights reserved.
      </div>
   </div>

   </footer>
   <!-- end footer -->
</div>


<link rel="stylesheet" href="/css/jquery.fancybox.css" />
<script src="/js/jquery.fancybox.js"></script>
<link rel="stylesheet" href="/css/hover.css" />






</body>

</html>

